//基础色
$baseColor: #fff;
$mainColor: #202737; // 主颜色

//自定义颜色
$bg: #283443;
$light_gray: #eee;
$cursor: #fff;
$elementForm: #454545;
$bg2: #2d3a4b;
$dark_gray: #889aa4;
$b3:#2c3e50;
//字体
$font-size-small-s: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size-medium-x: 16px;
$font-size-large: 18px;
$font-size-large-x: 22px;
$font-size-large-xx: 24px;

$base-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', '\5FAE\8F6F\96C5\9ED1', Arial, sans-serif;
